In [4]:
# triangle shape

n = int(input("Enter n = "))
for row in range(1,n+1):
    for column in range(1,row+1):
        print(column%2,end="")
    print()

Enter n = 5
1
10
101
1010
10101

In [1]:
n = int(input("Enter n = "))
for row in range(n):
    for column in range(row+1):
        print(column+1,end=" ")
    print()

Enter n = 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
n = int(input("Enter n = "))
for row in range(1,n+1):
    for column in range(1,row+1):
        print(row,end="")
    print()

Enter n = 5
1
22
333
4444
55555

In [5]:
n = int(input("Enter n = "))
for i in range(n):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

Enter n = 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [5]:
# using 0,1 making triangle pattern

n = int(input("Enter n = "))
for i in range(0,n+1):
    for j in range(n-i,0,-1):
        print(j%2,end="")
    print()

Enter n = 5
10101
0101
101
01
1

In [15]:
n = int(input("Enter n = "))
for i in range(0,n+1):
    for j in range(i,n):
        print(j%2, end = "")
    print()

Enter n = 5
01010
1010
010
10
0

In [3]:
n = int(input("Enter the value n = "))
for i in range(n):
    for j in range(i+1):
        print(i+1,end="")
    print()

Enter the value n = 5
1
22
333
4444
55555

In [4]:
n = int(input("Enter the value n = "))
for i in range(n):
    for j in range(i+1):
        print(n-i,end="")
    print()

Enter the value n = 5
5
44
333
2222
11111

In [7]:
n = int(input("Enter the value n = "))
for i in range(n):
    for j in range(i+1):
        print(n-j,end="")
    print()

Enter the value n = 5
5
54
543
5432
54321

In [8]:
n = int(input("Enter the value n = "))
for i in range(n):
    for j in range(i,-1,-1):
        print(n-j,end="")
    print()

Enter the value n = 5
5
45
345
2345
12345

In [10]:
n = int(input("Enter the value n = "))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end = " ")
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the value n = 5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [11]:
n = int(input("Enter the value n = "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

Enter the value n = 5
        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [3]:
n = int(input("Enter the value n = "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(i,-1,-1):
        print(n-i,end=" ")
    print()

Enter the value n = 5
        5
      4 4
    3 3 3
  2 2 2 2
1 1 1 1 1

In [8]:
n = int(input("Enter the value n = "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

Enter the value n = 5
        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

In [10]:
n = int(input("Enter the value n = "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(i+1):
        print(n-j,end=" ")
    print()

Enter the value n = 5
        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [5]:
for row in range(6):
    for col in range(7):
        if (row==0 and col%3 != 0) or (row == 1 and col%3 != 0 )
            print(" * ",end = "")

 *  *  *  *