In [2]:
def funct(n):
    if n==1:
        return n
    else:
        return n * funct(n-1)
    
funct(4)

24

In [1]:
def func(n):
    if n==1:
        return n
    else:
        return n*func(n-1)
func(6)

720

In [7]:
def funct(n):
    if n==1:
        return n
    else:
        return n * funct(n-1)
    
funct(1)

1

In [5]:
def funct(n):
    if n==1:
        return n
    else:
        return n * funct(n-1)
    
n = int(input("Enter n = "))
funct(n)

Enter n = 5

120

In [2]:
def control_loop(val):
    if val >= 10:
        return False
    return True

limit = 1
while control_loop(limit):
    limit += 1
    print(limit)

2
3
4
5
6
7
8
9
10

In [2]:
#changing tuple to list
atuple = (1,2,3,4,5)
print(type(atuple))

<class 'tuple'>

In [6]:
a = (1,)
print(type(a))

<class 'tuple'>

In [11]:
a = ("true", "false",12,21,"binod")
b = list(a)
print(b)
print(type(a))
print(type(b))

['true', 'false', 12, 21, 'binod']
<class 'tuple'>
<class 'list'>

In [7]:
s = 0
row = int(input("Enter row = "))
column = int(input("Enter column = "))
for i in range(row):
    
    i = i+row

    for j in range(i):
        
        j = j+column

print(i,j)

Enter row = 3
Enter column = 4
5 7

In [12]:
rows = 3
cols = 4
for i in range(rows):
    print('*', end =' ')
    for j in range(cols-1):
        i*= j
        print('*', end =' ')
    print('')

* * * *
* * * *
* * * *

In [1]:
#1*2*3*4 = 24
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
print(fac)

Enter n = 4
24

In [3]:
s = str()
n = int(input("Enter n = "))
for i in range(1,n+1):
    x = input("Enter name = ")
    s = s+x+"\n"
print(s)

Enter n = 3
Enter name = ram
Enter name = sam
Enter name = hari
ram
sam
hari

In [1]:
#making rectangle
def square(n,m):
    n = 10
    m = 10
    for i in range(1,n+1):
        for j in range(1,m+1):
            if (i == 1 or i == n or 
                j == 1 or j == m) :
                print("*", end = "")
            else:
                print(" ", end = "")
        print()

In [37]:
def shape(n,m):
    n = int(input("No. of columns = "))
    m = int(input("No. of rows = "))
    for i in range(1,n+1):
        for j in range(1,m+1):
            if (i == 1 or i == n or j == 1 or j == m):
                print(" * ", end = "")
            else:
                print("   ", end = "")
        print()
shape(m,n)

No. of columns = 10
No. of rows = 10
 *  *  *  *  *  *  *  *  *  *
 *                          *
 *                          *
 *                          *
 *                          *
 *                          *
 *                          *
 *                          *
 *                          *
 *  *  *  *  *  *  *  *  *  *

In [4]:
def sq(c,r):
    
    c = int(input("No. of cols = "))
    r = int(input("No. of rows = "))
    
    for i in range(1,c+1):
        for j in range(1,r+1):
            if (i == 1 or i == c or j == 1 or j == r):
                print(" * ",end = "")
            else:
                print("   ", end = "")
        print()
sq(10,10)

No. of cols = 10
No. of rows = 10
 *  *  *  *  *  *  *  *  *  *
 *                          *
 *                          *
 *                          *
 *                          *
 *                          *
 *                          *
 *                          *
 *                          *
 *  *  *  *  *  *  *  *  *  *

In [39]:
shape(m,n)

No. of columns = 5
No. of rows = 5
 *  *  *  *  *
 *           *
 *           *
 *           *
 *  *  *  *  *

In [2]:
# slicing
a = [1,2,3,3,4,5,6,7,5,5,4,4,3,5]
b = a[6:9]
print(b)

[6, 7, 5]

In [9]:
n = int(input("levels = "))
for i in range(0,n):
    for j in range(n-i,0,-1):
        print(j%2, end = " ")
    print()

levels = 10
0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1
0 1 0 1 0 1 0 1
1 0 1 0 1 0 1
0 1 0 1 0 1
1 0 1 0 1
0 1 0 1
1 0 1
0 1
1

In [13]:
n = 20
for i in range(n):
    print(i,i%2)

0 0
1 1
2 0
3 1
4 0
5 1
6 0
7 1
8 0
9 1
10 0
11 1
12 0
13 1
14 0
15 1
16 0
17 1
18 0
19 1

In [6]:
ages = (5,12,17,18,19,20,32)
def fun(x):
    if x < 18:
        return False
    else:
        return True
        adults = filter(fun, ages)
print(adults)

<filter object at 0x00000218EF6795E0>

In [7]:
a = {1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
# set
# #set does not follow indexing
# unordered
# does not have multiple value
# mutable

In [9]:
a = {3,2,4,5,1}
print(a)

{1, 2, 3, 4, 5}

In [10]:
a = {2,"ball","cat","dog"}
print(a)

{'cat', 2, 'ball', 'dog'}

In [11]:
a = {1,2,3,3,3,3,4,4,4,4,5,5,5,6,6,6}
a

{1, 2, 3, 4, 5, 6}

In [13]:
a = set()
a.add ("Apple")
a.add ("Ball")
a.add (2)
print(a)

{2, 'Apple', 'Ball'}

In [14]:
a = set()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.add(name)
print(a)

Enter n = 2
Enter name = ram
Enter name = sam
{'ram', 'sam'}

In [18]:
a = {2, 'Apple', 'Ball'}
a.remove("Apple")
a

{2, 'Ball'}

In [5]:
a = "Apple,Ball,Cat"

b = a.replace('Apple', 'Dog')
c = {b}

print(a)
type(a)
print(b)
print(c)

Apple,Ball,Cat
Dog,Ball,Cat
{'Dog,Ball,Cat'}

In [7]:
sentence = "The cat in hat had two sidekicks, thing one and thing two"
words = sentence.lower().replace('.','').replace(',','').split()
unique_words = {word for word in words} 
print(unique_words)

{'and', 'had', 'cat', 'two', 'thing', 'the', 'in', 'sidekicks', 'hat', 'one'}

In [3]:
sentence = "The cat in hat had two sidekicks, thing one and thing two"
words = sentence.replace('.','')
print(words)

The cat in hat had two sidekicks, thing one and thing two

In [8]:
a = {1,2}
type(a)

set

In [9]:
a = [1,2,3,3,4,4,5,5,6,6,6,7,7,7]
b = set(a)
a = list(b)
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
a = {1,2,3,4,5}
b = {6,7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
a = {1,2,3,4,5}

a.add(6)
print(a)

{1, 2, 3, 4, 5, 6}

In [15]:
a = {1,2,3,4,5}
b = {6,7,8,9}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
a = {"Ram","Sita","Hari","Kon"}
b = {"Ram","Kon","Don","Lov"}
a.intersection(b)

{'Kon', 'Ram'}

In [18]:
a.union(b)

{'Don', 'Hari', 'Kon', 'Lov', 'Ram', 'Sita'}

In [19]:
a.difference(b)

{'Hari', 'Sita'}

In [21]:
a = {"Ram","Sita","Hari","Kon"}
b = {"Ram","Kon","Don","Lov"}
a.difference(b)

{'Hari', 'Sita'}

In [22]:
a = {"Ram","Shyam","Hari","Sita","Gita"}
b = {"Nabin","Arun","Sabin","Sita","Ram"}
a.intersection(b)

{'Ram', 'Sita'}

In [23]:
a = {"Ram","Shyam","Hari","Sita","Gita"}
b = {"Nabin","Arun","Sabin","Sita","Ram"}
a.symmetric_difference(b)

{'Arun', 'Gita', 'Hari', 'Nabin', 'Sabin', 'Shyam'}

In [25]:
a = {"Ram","Shyam","Hari","Sita","Gita"}
b = {"Nabin","Arun","Sabin","Sita","Ram"}
u = a.union(b)
i = a.intersection(b)

ans = u.difference(i)
print(ans)

{'Nabin', 'Gita', 'Shyam', 'Hari', 'Arun', 'Sabin'}

In [2]:
# a.isdisjoint() - to check uncommon value that returns logical operation "True" if there isn't common
# "False" if there is common
a = {"Ram","Shyam","Hari","Sita","Gita"}
b = {"Nabin","Arun","Sabin","Sita","Ram"}

print(a.isdisjoint(b))

False

In [3]:
a = {"cat","dog","fish","elephant"}
b = {"cat","dog"}
print(a.issubset(b))

False

In [4]:
a = {"cat","dog","fish","elephant"}
b = {"cat","dog"}
a.issuperset(b)

True