In [1]:
#d = {}
#d = {<key>:<value>}

In [2]:
# # Dict
#  - indexing
#  - Ordered
#  - Duplicate values
#  - Mutable

In [4]:
a = {"a":"Apple", "b":"Ball", "c":"Cat"}
print(a)
print(type(a))
len(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

3

In [6]:
a = {"a":"Apple", "b":"Ball", "c":"Cat"}
a["b"]

'Ball'

In [7]:
a = {"a":"Apple", "b":"Ball", "c":"Cat", "A":"apple"} #key cannot be duplicated but value can be duplicated 
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'apple'}

In [8]:
a = {"a":"Apple", "b":"Ball", "c":"Cat", "a":"Apple"} #if the key is same then the another
                                                        #key will automatically removed
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [9]:
a = {"a":"Apple", "b":"Ball", "c":"Cat"} #you can update dict with new key and value
a["A"] = "ant"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'ant'}

In [10]:
# creating dictionary
a = {}
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [1]:
a = {}
n = int(input("Enter value n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter your phone = "))
    a[name] = phone

print(a)

Enter value n = 2
Enter name = ram
Enter your phone = 938388747
Enter name = sam
Enter your phone = 8493838
{'ram': 938388747, 'sam': 8493838}

In [2]:
a = {'ram': 938388747, 'sam': 8493838}
for i in a:
    print(i)

ram
sam

In [4]:
#a.values() will only print values
a = {'ram': 938388747, 'sam': 8493838}
for i in a.values():
    print(i)

938388747
8493838

In [5]:
#a.items() will print key and values
a = {'ram': 938388747, 'sam': 8493838}
for i in a.items():
    print(i)

('ram', 938388747)
('sam', 8493838)

In [6]:
a = {'ram': 938388747, 'sam': 8493838}
a.items()

dict_items([('ram', 938388747), ('sam', 8493838)])

In [7]:
#convert tuple inside list to dictionary
a = [('ram', 938388747), ('sam', 8493838)]
dict(a)

{'ram': 938388747, 'sam': 8493838}

In [8]:
a = list("Apple")
a

['A', 'p', 'p', 'l', 'e']

In [9]:
a = tuple("Apple")
a

('A', 'p', 'p', 'l', 'e')

In [10]:
#del
#pop

In [12]:
#you can only del() one key at a time
a = {'ram': 938388747, 'sam': 8493838}
del a["ram"]
a

{'sam': 8493838}

In [13]:
#same as befor pop() will move the value to "b"
a = {'ram': 938388747, 'sam': 8493838}
b = a.pop("ram")
print(a)
print(b)

{'sam': 8493838}
938388747

In [17]:
#update()
a = {'ram': 938388747, 'sam': 8493838}
b = {"hari":983874745}
a.update(b)
print(a)

{'ram': 938388747, 'sam': 8493838, 'hari': 983874745}

In [18]:
a = {'ram': 938388747, 'sam': 8493838, 'hari': 983874745}
for i in a:
    print(i)

ram
sam
hari

In [20]:
#To search value of a given key
a = {'ram': 938388747, 'sam': 8493838, 'hari': 983874745}
for i in a:
    if "ram" == i:
        print(a[i])

938388747

In [22]:
a = {'ram': 938388747, 'sam': 8493838, 'hari': 983874745}
for i in a.items():
    print(i)

('ram', 938388747)
('sam', 8493838)
('hari', 983874745)

In [25]:
a = {'ram': 938388747, 'sam': 8493838, 'hari': 983874745}
for i in a.items():
    if i[1] == 938388747:
        print(i)

('ram', 938388747)

In [26]:
#list inside dictionary
a = {'ram': [938388747,8493838], 'sam': [983874745,9837346746]}
a["ram"]

[938388747, 8493838]

In [27]:
#To read dict() into list
a = {'ram': [938388747,8493838], 'sam': [983874745,9837346746]}
for i in a.items():
    print(i)

('ram', [938388747, 8493838])
('sam', [983874745, 9837346746])

In [28]:
#to find a value for given key
a = {'ram': [938388747,8493838], 'sam': [983874745,9837346746]}
a["ram"][0]

938388747

In [29]:
#to mutate the given value of a key
a = {'ram': [938388747,8493838], 'sam': [983874745,9837346746]}
a["ram"][0] = 9485478547
a

{'ram': [9485478547, 8493838], 'sam': [983874745, 9837346746]}

In [30]:
a = {'ram': [938388747,8493838], 'sam': [983874745,9837346746]}
a["hari"] = 938473743,9438747347
a

{'ram': [938388747, 8493838],
 'sam': [983874745, 9837346746],
 'hari': (938473743, 9438747347)}

In [32]:
a = {'ram': [938388747,8493838], 'sam': [983874745,9837346746]}
del a["ram"]
a

{'sam': [983874745, 9837346746]}

In [33]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no.  = "))
    ncell = int(input("Enter ncell no. = "))
    a[name] = [ntc, ncell]
print(a)

Enter n = 2
Enter name = ram
Enter ntc no.  = 98484743
Enter ncell no. = 9348438
Enter name = sam
Enter ntc no.  = 39438348
Enter ncell no. = 9348958
{'ram': [98484743, 9348438], 'sam': [39438348, 9348958]}

In [34]:
# tuple inside list, you cannot change any values inside tuple
a = {"Ram":(93848738,93894873), "Sam":(93848384, 9384737847)}

In [35]:
#dict inside dict
a = {"Ram":{"NTC":938943838, "NCELL":938487378}},
    {"Sam":{"NTC":938943838, "NCELL":938487378}},
    {"Hari":{"NTC":938943838, "NCELL":938487378}}

IndentationError: unexpected indent (<ipython-input-35-6d2d6c8caf4d>, line 3)

In [36]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no.  = "))
    ncell = int(input("Enter ncell no. = "))
    a[name] = {"NTC":ntc,"NCELL":ncell}
print(a)

Enter n = 2
Enter name = ram
Enter ntc no.  = 9034859384
Enter ncell no. = 309450934
Enter name = sam
Enter ntc no.  = 39487534985
Enter ncell no. = 39084593458
{'ram': {'NTC': 9034859384, 'NCELL': 309450934}, 'sam': {'NTC': 39487534985, 'NCELL': 39084593458}}

In [38]:
a = {'ram': {'NTC': 9034859384, 'NCELL': 309450934}, 'sam': {'NTC': 39487534985, 'NCELL': 39084593458}}
for i in a.items():
    print(i)

('ram', {'NTC': 9034859384, 'NCELL': 309450934})
('sam', {'NTC': 39487534985, 'NCELL': 39084593458})

In [6]:
a = {'ram': {'NTC': 9034859384, 'NCELL': 309450934}, 'sam': {'NTC': 39487534985, 'NCELL': 39084593458}}
for i in a.items():
    print(i)

('ram', {'NTC': 9034859384, 'NCELL': 309450934})
('sam', {'NTC': 39487534985, 'NCELL': 39084593458})

In [3]:
a = {'ram': {'NTC': 9034859384, 'NCELL': 309450934}, 'sam': {'NTC': 39487534985, 'NCELL': 39084593458}}
a["ram"] ['NCELL']

309450934