In [2]:
a = (1,2,3,4,5)
print(type(a))

<class 'tuple'>

In [3]:
a = ("Apple", "Ball","Cat")
print(type(a))

<class 'tuple'>

In [4]:
# tuple
# -Indexing
# -Ordered
# -Duplicate values
# -Imutable

In [5]:
a = ("Apple", "Ball","Cat")
print(a[0])

Apple

In [6]:
a = ("Apple", "Ball","Cat")
print(a[0:3])

('Apple', 'Ball', 'Cat')

In [7]:
a = ("Apple", "Ball","Cat")
print(a)

('Apple', 'Ball', 'Cat')

In [8]:
a = ("Apple", "Ball","Cat")
b = ("Fish","Goat")
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Fish', 'Goat')

In [9]:
# append(),extend(),insert(), these functions are not available in tuple

In [12]:
a = (1,) #if you put only one value then you should put comma,
type(a)

tuple

In [13]:
a = ("Apple",) #if you put only one value then you should put comma,
type(a)

tuple

In [14]:
a = () #but if you put empty bracket then it means tuple
type(a)

tuple

In [15]:
a = (1,2,3,4,4,5,65) # can't update or edit 
a

(1, 2, 3, 4, 4, 5, 65)

In [16]:
a = (1,2,3,4,4,5,65) 
a[0]

1

In [17]:
a = (1,2,3,4,4,5,65) 
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [18]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+(name,)
print(a)

Enter n = 2
Enter name = ram
Enter name = sam
('ram', 'sam')

In [19]:
def cal():
    l = int(input("Lenght = "))
    b = int(input("Breadth = "))
    h = int(input("Height = "))
    a = l*b
    v = a*h
    return a,v
x = cal()
print(x)

Lenght = 12
Breadth = 12
Height = 12
(144, 1728)

In [21]:
# to remove we should first convert tupole to list and again back to tuple
a = ("Apple", "Ball","Cat")
b = list(a)
b.remove("Apple")
a = tuple(b)
print(a)

('Ball', 'Cat')

In [23]:
a = ("Apple", "Ball","Cat")
b = list(a)
b[0] = "orange"
a = tuple(b)
print(a)

('orange', 'Ball', 'Cat')

In [26]:
a = ((1,2,3),(4,5,6),(7,8,9))
type(a)

tuple

In [31]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    phone = int(input("Enter phone = "))
    info = (name,age,add,phone)
    a = a+(info,)
print(a)

Enter n = 2
Enter name = ram
Enter age = 63
Enter add = kathmandu
Enter phone = 984747733
Enter name = sam
Enter age = 32
Enter add = kathmandu
Enter phone = 9484737473
(('ram', 63, 'kathmandu', 984747733), ('sam', 32, 'kathmandu', 9484737473))

In [32]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    phone = int(input("Enter phone = "))
    info = ((name,age,add,phone),)
    a = a+info
print(a)

Enter n = 2
Enter name = ran
Enter age = 32
Enter add = ktm
Enter phone = 93783783
Enter name = sam
Enter age = 34
Enter add = ktm
Enter phone = 94847475544
(('ran', 32, 'ktm', 93783783), ('sam', 34, 'ktm', 94847475544))

In [35]:
#Search

a = (('ran', 32, 'ktm', 93783783), ('sam', 34, 'ktm', 94847475544))
name = input("name = ")
c = 0
for i in a:
    if name in i:
        print(i)
        c = c+1
print(c)

name = sam
('sam', 34, 'ktm', 94847475544)
1

In [36]:
a = (('ran', 32, 'ktm', 93783783), ('sam', 34, 'ktm', 94847475544))
b = list(a)  #outer will be list
print(b)

[('ran', 32, 'ktm', 93783783), ('sam', 34, 'ktm', 94847475544)]

In [38]:
a = [('ran', 32, 'ktm', 93783783), ('sam', 34, 'ktm', 94847475544)]
a.append(('ran', 32, 'ktm', 93783783))
a

[('ran', 32, 'ktm', 93783783),
 ('sam', 34, 'ktm', 94847475544),
 ('ran', 32, 'ktm', 93783783)]

In [39]:
a = [('ran', 32, 'ktm', 93783783), ('sam', 34, 'ktm', 94847475544)]
# can remove whole value but can't remove value at a time
del a[0]
a

[('sam', 34, 'ktm', 94847475544)]

In [40]:
#to change whole value to list
a = [('ran', 32, 'ktm', 93783783), ('sam', 34, 'ktm', 94847475544)]
for i in a:
    print(list(i))

['ran', 32, 'ktm', 93783783]
['sam', 34, 'ktm', 94847475544]

In [42]:
b = []
a = [('ran', 32, 'ktm', 93783783), ('sam', 34, 'ktm', 94847475544)]

for i in a:
    x = list(i)
    b.append(x)
print(b)

[['ran', 32, 'ktm', 93783783], ['sam', 34, 'ktm', 94847475544]]

In [45]:
t = ()
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    z = ()
    for j in range(c):
        x = int(input("Enter x = "))
        z = z+(x,)
    t = t+(z,)
print(t)

Enter r = 2
Enter c = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
((3, 4), (5, 6))

In [1]:
a = [('ran', 32, 'ktm', 93783783), ('sam', 34, 'ktm', 94847475544)]
type(a)

list