In [1]:
# Python lambda(Anonymous Functions)
# In Python, anonymous function means that a function is without a name.
# This function can have any number of arguements but only one expression, 
# which is evaluated and returned.
# lambda function is syntactically restricted to a single expression. 

# Syntax:
# lambda<arguements>:<expression>
# Expressions are representations of value. 
# They are different from statement in the fact that statements do something 
# while expressions are representation of value.
# For example any string is also an expressions since it represents the value of the string as well.

In [2]:
x = lambda a:a**2
print("square = ", x(4))

square =  16

In [4]:
x = lambda a,b:a*b
print("The total multi = ",x(4,5))

The total multi =  20

In [5]:
# Difference....

def volume(l):
    return l**3
print(volume(5))

125

In [7]:
g = lambda x,y:x+y**3
print(g(5,6))

221

In [8]:
# Filtering:
# Function filter(function,list)offers an elegant way to filter out all
# the elements of a list, for which the fucntion(function)returns True.
# The function filter(f,l) function f as its first arguement. f returns a Boolean value
# i.e, either True or False
# This function will be applied to every element of the list/.

# filter(<boolean_condition>,list)

In [10]:
# Filtering example:
# programming to filter out the list which is divisible by 3:

lists= [1,2,3,4,10,12,123,22]
div = list(filter(lambda x:(x%3==0),lists))
even = list(filter(lambda x:(x%2==0),lists))
odd = list(filter(lambda x:(x%2!=0),lists))

print(div)
print(even)
print(odd)

[3, 12, 123]
[2, 4, 10, 12, 22]
[1, 3, 123]

In [1]:
# Map function:
# The map() functon in python takes in a function and a list as an arguement.
# The fuction map(s,l) needs a function f as its first arguement. s returns sequence value. 
# Syntax:
# map(<lambda_function>,list)

In [2]:
# Map function
List = (1,2,3,4,5,6,7,8,9,10)
new_list = list(map(lambda x:x**3,List))
print(new_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [3]:
List = (1,2,3,4,5,6,7,8,9,10)
mult = list(map(lambda x:x*5,List))
print(mult)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [1]:
List = (1,2,3,4,5,6,7,8,9,10)
print(List*5)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
List = []
n = int(input("Enter n "))
for i in range(n):
    print(i,i*5)

Enter n 5
0 0
1 5
2 10
3 15
4 20

In [4]:
# Reduce function()
# the reduce function in Python takes in a function and a list as arguement
# The function is called with a lambda function and a list and a new 
# reduced result is returned
# This performs a repitive operation over the pairs of a list.

# reduce(<operation Function>,list)

In [1]:
from functools import reduce
list = [5,5,6,9,3,4,8,8,3]
sum = reduce((lambda x,y:x+y),list)
print(sum)

51

In [1]:
from functools import reduce
list = [12,43,32,67,98,23,34]
fun = reduce((lambda x,y:x if (x>y)else y),list)
print (fun)

98

In [2]:
ages = (5,12,17,18,19,20,32)
def fun(x):
    if x < 18:
        return False
    else:
        return True
adults = filter(fun, ages)

for x in adults:
    print(x)

18
19
20
32

In [5]:
# print out numbers that are less than 18

a = [1,2,3,45,16,12,13,15,18]
ages = list(filter(lambda x:(x<=18),a))
print(ages)

[1, 2, 3, 16, 12, 13, 15, 18]

In [7]:
# print out numbers that are less than 18 with loop function

b = []
a = 1,2,3,45,16,12,13,15,18

for i in a:
    if i<=18:
        b.append(i)
def c(b):
    return tuple(b)
print(c(b))

(1, 2, 3, 16, 12, 13, 15, 18)

In [12]:
new_list = []
l = 1,2,3,4,5,65,6,45,65,76
for i in l:
    if i > 9:
        new_list.append(i)
print(new_list)

[65, 45, 65, 76]

In [4]:
list = [65, 45, 65, 76]
def convert(list):
    return tuple(list)

print(convert(list))

(65, 45, 65, 76)