In [2]:
#list inside list
s = str()
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product = ")
    quantity = int(input("Enter quantity = "))
    price = int(input("Enter price = "))
    total = quantity*price
    info = f"{product}, {quantity}, {total}\n"
    s = s+info
print(s)

Enter n = 2
Enter product = apple
Enter quantity = 3
Enter price = 45
Enter product = egg
Enter quantity = 67
Enter price = 345
apple,3,135
egg,67,23115

In [4]:
l = s.split("\n")
print(l)

['apple,3,135', 'egg,67,23115', '']

In [5]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    add = input("Enter add = ")
    phone = int(input("Enter phone no. = "))
    info = f"{name} {add} {phone}\n"
    s = s+info
    

print(s)

Enter n = 2
Enter name = ram
Enter add = mg
Enter phone no. = 98347373334
Enter name = sam
Enter add = ktm
Enter phone no. = 974938223487
ram mg 98347373334
sam ktm 974938223487

In [6]:
l = s.split("\n")
l

['ram mg 98347373334', 'sam ktm 974938223487', '']

In [7]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    add = input("Enter add = ")
    age = int(input("Enter age = "))
    phone = int(input("Enter phone no. = "))
    info = [name,add,age,phone]
    a.append(info)

print(a)

Enter n = 2
Enter name = ram
Enter add = ktm
Enter age = 23
Enter phone no. = 9384738374
Enter name = sam
Enter add = ktm
Enter age = 89
Enter phone no. = 943875484378
[['ram', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378]]

In [10]:
a = [['ram', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378]]
print(a[0])
print(len(a))

['ram', 'ktm', 23, 9384738374]
2

In [12]:
a = [['ram', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378]]
a[0][1]

'ktm'

In [13]:
a = [['ram', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378]]
a[0][0] = "hari"
a

[['hari', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378]]

In [15]:
a = [['ram', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378]]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = ram
['ram', 'ktm', 23, 9384738374]

In [16]:
a = [['ram', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378]]
name = input("Enter name = ")
c = 0
for i in a:
    if name in i:
        print(i)
        c = c+1
print(c)

Enter name = ktm
['ram', 'ktm', 23, 9384738374]
['sam', 'ktm', 89, 943875484378]
2

In [17]:
a = [['ram', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378]]
b = a.pop(1)
print(a)
print(b)

[['ram', 'ktm', 23, 9384738374]]
['sam', 'ktm', 89, 943875484378]

In [34]:
b = []
a = [['ram', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378], ['sam', 'ktm', 89, 943875484378]]

for i in a:
    if "sam" in i:
        pass
    else:
        b.append(i)
print(b)

[['ram', 'ktm', 23, 9384738374]]

In [2]:
a = [['ram', 'ktm', 23, 9384738374], ['sam', 'ktm', 89, 943875484378], ['sam', 'ktm', 89, 943875484378]]
l = len(a)
for i in range(l):
    if "sam" in a[i]:
        print(i)

1
2