In [1]:
# importing database
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "class 5 pm"
)
db = database.cursor()

In [2]:
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 79, 89, 77, 412, 80.2, 'A')
(2, 'Shyam', 99, 87, 98, 77, 430, 82.4, 'A')
(3, 'Hari', 88, 66, 55, 99, 450, 78.4, 'B')
(4, 'Radha', 88, 99, 77, 77, 420, 81.2, 'B')
(5, 'Leena', 99, 87, 98, 77, 390, 82.4, 'B')
(6, 'Riva', 99, 88, 77, 99, 430, 82.4, 'B')

In [3]:
# to view specific fields only
db.execute("SELECT id,name,grade FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 'A')
(2, 'Shyam', 'A')
(3, 'Hari', 'B')
(4, 'Radha', 'B')
(5, 'Leena', 'B')
(6, 'Riva', 'B')

In [4]:
# to view specific datas only
db.execute("SELECT * FROM student WHERE name = 'Ram' or name = 'Hari'")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 79, 89, 77, 412, 80.2, 'A')
(3, 'Hari', 88, 66, 55, 99, 450, 78.4, 'B')

In [5]:
# to view specific datas only
db.execute("SELECT * FROM student WHERE name = 'Ram' or 'Hari'") #-----have to give field
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 79, 89, 77, 412, 80.2, 'A')

In [6]:
db.execute("SELECT * FROM student WHERE grade = 'A'") #-----have to give field
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 79, 89, 77, 412, 80.2, 'A')
(2, 'Shyam', 99, 87, 98, 77, 430, 82.4, 'A')

In [7]:
db.execute("SELECT * FROM student WHERE grade = 'B'") #-----have to give field
result = db.fetchall()
for x in result:
    print(x)

(3, 'Hari', 88, 66, 55, 99, 450, 78.4, 'B')
(4, 'Radha', 88, 99, 77, 77, 420, 81.2, 'B')
(5, 'Leena', 99, 87, 98, 77, 390, 82.4, 'B')
(6, 'Riva', 99, 88, 77, 99, 430, 82.4, 'B')

In [10]:
sql = "INSERT INTO student (name, physics, chemistry, english, nepali, total, per, grade) VALUES ('Sabina', '88', '98', '78', '77', '380', '87.2', 'A');"
db.execute(sql)
database.commit()
print(db.rowcount, "record inserted.")

1 record inserted.

In [14]:
n = int(input( "n = "))
for i in range(n):
    name  = input("Enter name = ")
    physics  = int(input("Enter physics marks = "))
    chemistry  = int(input("Enter chemistry marks = "))
    english  = int(input("Enter english marks = "))
    nepali  = int(input("Enter nepali marks = "))
    total = sum([physics,chemistry,english,nepali])
    per = total/4
    if per >= 80:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 50:
        grade = "C"
    else:
        grade = "D"
        
    sql = f"INSERT INTO student (name, physics, chemistry, english, nepali, total, per, grade) VALUES ('{name}', {physics}, {chemistry}, {english}, {nepali}, {total}, {per}, '{grade}')"
    db.execute(sql)
database.commit()

n = 1
Enter name = Radhika
Enter physics marks = 77
Enter chemistry marks = 88
Enter english marks = 99
Enter nepali marks = 77

In [15]:
sql ="DELETE FROM student WHERE id = 2"
db.execute(sql)
database.commit()

In [16]:
id = int(input("Enter id = "))
sql = f"DELETE FROM student WHERE id = {id}"
db.execute(sql)
database.commit()

Enter id = 3

In [20]:
field = input("Enter field (id,grade,name) = ")
value = input("Enter value = ")
sql = f"DELETE FROM student WHERE {field} = '{value}'"
db.execute(sql)
database.commit()

Enter field (id,grade,name) = name
Enter value = Ram

In [21]:
field = input("Enter field (id,grade,name) = ")
value = input("Enter value = ")
sql = f"DELETE FROM student WHERE {field} = '{value}'"
db.execute(sql)
database.commit()

Enter field (id,grade,name) = id
Enter value = 8

In [23]:
name = input("Enter name = ")
id = int(input("Enter id = "))

sql = f"UPDATE student SET name = '{name}' WHERE id = {id}" #---replacing name where id is ____
db.execute(sql)
database.commit()

Enter name = Satbhat
Enter id = 9

In [ ]:
id = int(input("Enter id = "))
sql = f"DELETE "