In [1]:
# Python Collection
# -List
# -Tuple
# -Dictionary
# -Set

In [2]:
#List
l = []
a = ["Apple", "Ball", "Cat", "Dog"]
print(len(a))
print(type(a))

4
<class 'list'>

In [ ]:
# List
#  - indexed
#  - Ordered
#  - Multiple values
#  - Mutable

In [3]:
#  - indexed
l = []
a = ["Apple", "Ball", "Cat", "Dog"]
a[0]

'Apple'

In [4]:
#  - indexed
l = []
a = ["Apple", "Ball", "Cat", "Dog"]
a[-1]

'Dog'

In [3]:
#  - indexed
l = []
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
a[1:6]

['Ball', 'Cat', 'Dog', 'Fish']

In [4]:
#ordered
l = []
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
a[1:6:2]

['Ball', 'Dog']

In [5]:
#conactenate
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
b = ["Bag"]
print(a+b)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Bag']

In [6]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [7]:
a = [1,2,3,4,5,"Apple","Ball"]
a

[1, 2, 3, 4, 5, 'Apple', 'Ball']

In [9]:
#mutable or changeable
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [13]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]
print(a)

Enter n = 2
Enter name = bg
Enter name = cg
['bg', 'cg']

In [14]:
for i in a:
    print(i)

bg
cg

In [16]:
a = ["Ram", "Hari", "Sam", "Sita", "Gita"]
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))

Yes
1

In [ ]:
# append
# insert
# extend

In [19]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.append(name)
    
print(a)

Enter n = 2
Enter name = bg
Enter name = cg
['bg', 'cg']

In [23]:
#insert
a = ["ram", "hari", "sita", "gita"]
a.insert(1,"nabin")
print(a)

['ram', 'nabin', 'hari', 'sita', 'gita']

In [25]:
#extend
a = ["ram", "hari", "sita", "gita"]
b = ["fish", "ham"]
a.extend(b)
print(a)

['ram', 'hari', 'sita', 'gita', 'fish', 'ham']

In [ ]:
# remove()
# pop()
# del()

In [1]:
a = ["ram", "hari", "sita", "gita"]
a.remove("ram")
print(a)

['hari', 'sita', 'gita']

In [2]:
a = ["ram", "hari", "sita", "gita"]
i = a.index("hari")
print(i)

1

In [3]:
a = ["ram", "hari", "sita", "gita"]
i = a.index("hari")
del a[1]
print(a)

['ram', 'sita', 'gita']

In [5]:
a = ["ram", "hari", "sita", "gita"]
del a[2:4]
print(a)

['ram', 'hari']

In [1]:
a = ["ram", "hari", "sita", "gita","nabin", "gopal"]
del a[0:3:1]
print(a)

['gita', 'nabin', 'gopal']

In [2]:
a = ["ram", "hari", "sita", "gita","nabin", "gopal"]
for i in a:
    if i == "ram":
        a.remove("ram")
a

['hari', 'sita', 'gita', 'nabin', 'gopal']

In [1]:
a = ["ram", "hari", "sita", "gita","nabin", "gopal","ram"]
n = len(a)
for i in range (n):
    if a[i] == "ram": #i is as index
        print(i)

0
6

In [3]:
a = ["ram", "hari", "sita", "gita","nabin", "gopal","ram"]
b = a.pop(1)
print(a)
print(b)

['ram', 'sita', 'gita', 'nabin', 'gopal', 'ram']
hari

In [4]:
a = ["ram", "hari", "sita", "gita","nabin", "gopal","ram"]
a.clear()
a

[]

In [1]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity 
    info = f"{product} {price} {quantity} {total}\n"
    s = s+info
    

print(s)

Enter n = 2
Enter product = egg
Enter price = 45
Enter quantity = 65
Enter product = meat
Enter price = 67
Enter quantity = 45
egg 45 65 2925
meat 67 45 3015

In [6]:
l = s.split("\n")
print(l)

['egg 45 65 2925', 'meat 67 45 3015', '']

In [3]:
print(l[0])

egg 45 65 2925

In [7]:
a = ['egg 45 65 2925', 'meat 67 45 3015']
a[0] = 'egg 45 65 455'
a

['egg 45 65 455', 'meat 67 45 3015']

In [1]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    add = input("Enter add = ")
    phone = int(input("Enter phone no. = "))
    info = f"{name} {add} {phone}\n"
    s = s+info
    

print(s)

Enter n = 2
Enter name = ram
Enter add = ktm
Enter phone no. = 980384384
Enter name = sam
Enter add = ktm
Enter phone no. = 9873949834
ram ktm 980384384
sam ktm 9873949834

In [2]:
l = s.split("\n")
l

['ram ktm 980384384', 'sam ktm 9873949834', '']