In [1]:
a = "Hello world"
print (type(a))

<class 'str'>

In [2]:
a = 10
b = "10"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [3]:
a = "Hello world"
print (a*4)

Hello worldHello worldHello worldHello world

In [4]:
a = "Hello world\n"
print (a*4)

Hello world
Hello world
Hello world
Hello world

In [6]:
a = "Hello "
b = "world"
print (a+b)     #concatenate the values of multiple variables

Hello world

In [7]:
a = "Hello world"
a[0]

'H'

In [8]:
a = "Hello world"
a[0:6]              # slicing method in string

'Hello '

In [9]:
a = "Hello world"
a[0:6:2]          #it will start from 0 till 6 but will have an increment of 2

'Hlo'

In [10]:
a = "Hello world"
a[-1]              #it will start from last letter/value

'd'

In [11]:
a = "Hello world"
a[-2]

'l'

In [12]:
a = "Hello world"
n = len(a)
print(n)

11

In [17]:
a = "Hello world"
n = len(a)
a[n::-1]               #reverse print

'dlrow olleH'

In [19]:
# concate values
a = "Apple "
b = "Orange"
print(a+b)

Apple Orange

In [20]:
#Search
a = "Ram sita hari sam gita ram"
name = input("Enter name = ")
if name in a:
    print("Yes")
    c = a.count(name)
    print(c)

Enter name = ram
Yes
1

In [21]:
#changin cases
a = "Ram sita hari sam gita ram"

print(a.lower())
print(a.upper())

ram sita hari sam gita ram
RAM SITA HARI SAM GITA RAM

In [22]:
# to remove case sensitive

a = "Ram sita hari sam gita ram"
a_lower = a.lower()
name = input("Enter name = ")
name_lower = name.lower()
if name_lower in a_lower:
    print("Yes")
    c = a_lower.count(name_lower)
    print(c)

Enter name = Ram
Yes
2

In [25]:
#String formatting
name = input("Enter name = ")
age = input("Enter age = ")
add = input("Enter add = ")
info = f"Hello world I am {name}. I am from {add}. I am {age}."
print(info)

Enter name = bin
Enter age = 35
Enter add = ktm
Hello world I am bin. I am from ktm. I am 35

In [1]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    info = f"{name} {age} {add}\n"
    s = s+info

print(s)

Enter n = 1
Enter name = ram
Enter age = 23
Enter add = ktm
ram 23 ktm

In [4]:
#billing system with formating string
s = str()
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity 
    info = f"{product} {price} {quantity} {total}\n"
    s = s+info
    grand_total = grand_total+total

print(s)
print(grand_total)

Enter n = 2
Enter product = egg
Enter price = 45
Enter quantity = 3
Enter product = apple
Enter price = 45
Enter quantity = 34
egg 45 3 135
apple 45 34 1530

1665

In [5]:
#replacing value
a = "Ram, hari, sam, sita, gita"
b = a.replace("Ram", "rama")     #immutable data type, where you should assign variable to replace value
print(b)

rama, hari, sam, sita, gita

In [8]:
#deleting value
a = "Ram hari sam sita gita"
b = a.replace("Ram","")     
print(b)

 hari sam sita gita

In [9]:
print(s)

egg 45 3 135
apple 45 34 1530

In [10]:
s.split("\n") #to change any data you require to put in array. for this you need to split the data

['egg 45 3 135', 'apple 45 34 1530', '']