In [ ]:
# for loop
# While loop

In [ ]:
#for loop
# range(5)      (0,1,2,3,4) #starts from default 0 to 5 but will only go till 4 #in java (i=0,1<5,i++)
# range(1,5)    (1,2,3,4)   #start from 1 to 5, not 0                           #in java (i=1,1<5,i++)
# range(1,5,2)  (1,3)       #start from 1 but increment with 2.                 #in java (i=1,1<5,i+2)

In [3]:
for i in range(5):    #i is variable and in is operator
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

In [4]:
for i in range(5):    
    print(i,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [5]:
for i in range(1,5):    
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [8]:
for i in range(1,5,2):    
    print(i,"Hello world")

1 Hello world
3 Hello world

In [9]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [11]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter n = 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [12]:
#Even number
for i in range(1,21):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [9]:
#Odd number
for i in range(1,21):
    if i%2 !=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [10]:
#multiple values
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")

Enter n = 3
Enter name = binod
Enter name = ram
Enter name = shyam

In [15]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    s = s+name
    
print(s)

Enter n = 3
Enter name = ram
Enter name = sam
Enter name = hari
ramsamhari

In [14]:
s = str()         #s represents as string
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    s = s+name
    
print(s)

Enter n = 3
Enter name = ram
Enter name = sam
Enter name = hari
ramsamhari

In [18]:
s = str()         #s represents as string
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    s = s+name+"\n"
    
print(s)

Enter n = 3
Enter name = ram
Enter name = sam
Enter name = hari
ram
sam
hari

In [20]:
# to add multiple value
s = 0        #0 represents int
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    
print(s)

Enter n = 5
Enter x = 100
Enter x = 100
Enter x = 100
Enter x = 100
Enter x = 100
500

In [21]:
s = 0        #0 represents int
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    
print("The sum of s = ",s)
print("The average = ",s/n)

Enter n = 3
Enter x = 12
Enter x = 12
Enter x = 12
The sum of s =  36
The average =  12.0

In [25]:
#factorial 4!=1*2*3*4
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i

print(fac)

Enter n = 5
120

In [26]:
#factorial 4!=1*2*3*4
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i

print(fac)

Enter n = 4
24

In [27]:
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
    print(fac)

Enter n = 5
1
2
6
24
120

In [29]:
for i in range(1,10):
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********

In [32]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [33]:
a = "Python"
for i in a:
    print(i,"Hello world")

P Hello world
y Hello world
t Hello world
h Hello world
o Hello world
n Hello world

In [7]:
#removes the space between characters
a = "ram sam hari sita"
for i in a:
    if i != " ":
        print(i,end=" ")

r a m s a m h a r i s i t a

In [8]:
# control statement
# break
# continue
# pass

In [10]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [11]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [1]:
a = "ram sam hari sita"
for i in a:
    if i == " ":
        break
    print(i,end = "")

ram

In [2]:
 a = "ram sam hari sita"
for i in a:
    if i == " ":
        continue
    print(i,end = "")

ramsamharisita

In [8]:
# 2,3,5,7,11,13,17,19 prime no.
# 4,6,8,9,10,12,14,15 composite no.

n = int(input("Enter n = "))
for i in range(2,n):
    if n%i==0:
        print("This is composite no. ")
        break
    else:
        print("This is prime no. ")
        break

Enter n = 7
This is prime no.

In [15]:
for i in range(1,51):
    if i%5 != 0:
        continue
    else:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [16]:
for i in range(1,51):
    if i%5== 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
#while loop